
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff66;
}

#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffcc;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menuItem {
  cursor: pointer;
  display: box;
  width: 100%;
  font-size: 3em;
  font-family: 'Play';
  background-color: #ffff66;
  border: none;
  box-shadow: 0px 5px 20px black;
}

#topBar {
  overflow: hidden;
  border-bottom: 1px solid black;
}

#titleBox {
  font-family: 'Play';
  float: left;
  outline: none;
  width: 85%;
  font-size: 2em;
  background-color: #ffff66;
  border: none;
}

#noteBox {
  margin: 0px 0;
  font-family: 'Play';
  resize: none;
  outline: none;
  width: 100%;
  min-height: 400px;
  font-size: 1.5em;
  background-color: #ffff66;
  border: none;
}

#notesMenuButton {
  text-align: center;
  float: right;
  cursor: pointer;
  font-size: 2em;
  width: 15%;
  background-color: #ffff66;
  border: none;
  border-left: 1px solid black;
}

#deleteNote {
  text-align: center;
  position: fixed;
  cursor: pointer;
  bottom: 1%;
  left: 45%;
  font-size: 2.5em;
  width: 50px;
  background-color: red;
  border: 4px solid black;
}